@charset "UTF-8";

@font-face {
    font-family: 'dearestregular';
    src: url('Dearest-webfont.eot');
    src: url('Dearest-webfont.eot?#iefix') format('embedded-opentype'),
         url('Dearest-webfont.woff') format('woff'),
         url('Dearest-webfont.ttf') format('truetype'),
         url('Dearest-webfont.svg#dearestregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'deutsch_gothicnormal';
    src: url('Deutsch-webfont.eot');
    src: url('Deutsch-webfont.eot?#iefix') format('embedded-opentype'),
         url('Deutsch-webfont.woff') format('woff'),
         url('Deutsch-webfont.ttf') format('truetype'),
         url('Deutsch-webfont.svg#deutsch_gothicnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}